<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="kyy.augm.com"
      android:sharedUserLabel="@drawable/mainicon" android:versionName="1.0" android:versionCode="9">
    <uses-sdk android:minSdkVersion="7" />

    <application android:label="@string/app_name" android:icon="@drawable/mainicon">
        <activity android:name=".AndroidUserGuideMain"
        		  android:screenOrientation="portrait"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SubMain"
        android:theme="@android:style/Theme.NoTitleBar"
        android:screenOrientation="portrait"/> <!-- 가로고정 -->
		<activity android:name=".SubTabHost"
		android:theme="@android:style/Theme.NoTitleBar"
		android:screenOrientation="portrait"/>
		<activity android:name=".Tab1"
		android:theme="@android:style/Theme.NoTitleBar"
		android:screenOrientation="portrait"/>
		<activity android:name=".Tab2"
		android:theme="@android:style/Theme.NoTitleBar"
		android:screenOrientation="portrait"/>
		<activity android:name=".Tab3"
		android:theme="@android:style/Theme.NoTitleBar"
		android:screenOrientation="portrait"/>
		<activity android:name=".Tab4"
		android:theme="@android:style/Theme.NoTitleBar"
		android:screenOrientation="portrait"/>
		<activity android:name=".Tab5"
		android:theme="@android:style/Theme.NoTitleBar"
		android:screenOrientation="portrait"/>
		<activity android:name=".Tab6"
		android:theme="@android:style/Theme.NoTitleBar"
		android:screenOrientation="portrait"/>
		<activity android:name=".Tab6Group"
		android:theme="@android:style/Theme.NoTitleBar"
		android:screenOrientation="portrait"/>
		<activity android:name=".Tab6Sub_1"
		android:theme="@android:style/Theme.NoTitleBar"
		android:screenOrientation="portrait"
		/>		
		<activity android:name=".Tab6Sub_2"
		android:theme="@android:style/Theme.NoTitleBar"
		android:screenOrientation="portrait"
		/>		
		<activity android:name=".Tab6Sub_3"
		android:theme="@android:style/Theme.NoTitleBar"
		android:screenOrientation="portrait"
		/>
		<activity android:name=".Tab6Sub_4"
		android:theme="@android:style/Theme.NoTitleBar"
		android:screenOrientation="portrait"
		/>
		<activity android:name=".Tab6Sub_5"
		android:theme="@android:style/Theme.NoTitleBar"
		android:screenOrientation="portrait"
		/>
		     
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"> </uses-permission>
</manifest>